#FRONTEND VITE ENV VARIABLES
VITE_SUPABASE_URL="linktosupabaseproject"
VITE_SUPABASE_ANON_KEY="supabaseanonkey"
#BACKEND PYTHON ENV VARIABLES
SUPABASE_URL = 'linktosupabaseproject'
SUPABASE_JWT_SECRET = 'supabasejwtsecret'
SUPABASE_SERVICE_KEY = 'supabaseservicekey'